<div class="container">
  <%= simple_form_for @listing do |f| %>
    <%= f.input :description, as: :text, hint: "Enter a name for this listing" %>
    <%= f.input :tags, as: :text, hint: "Tag this diagnostic" %>
    .. add photo field .. 
    <%= f.button :submit, data: { disable_with: "Creating queueing diagnostic..." }, class: "btn btn-primary btn-lg btn-block" %>
  <% end %>
</div>