<div id="content">
                <article id="post-2" class="full-width post-2 page type-page status-publish hentry">
                    <div class="header-placeholder"></div>
                    <div class="container-full">
                        <div class="post-content">

                            <div class="hb-message message">
                                <div class="hb-message-content">
                                    Thank you! Your booking has been placed. We will contact you to confirm about the booking soon. </div>
                            </div>

                            <div id="booking-details">
                                <div class="booking-data">
                                    <h3 class="booking-data-number">Booking #1413</h3>
                                    <div class="booking-date">
                                        Date April 17, 2018 </div>
                                </div>
                            </div>

                            <div id="booking-items">

                                <h3>Booking Items</h3>

                                <table cellpadding="0" cellspacing="0" class="booking_item_table">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Check in - Checkout</th>
                                            <th>Night</th>
                                            <th>Qty</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>
                                                <a href="http://lava.themespirit.com/rooms/standard-double/">Standard Double</a> </td>
                                            <td>
                                                April 18, 2018 - April 26, 2018 </td>
                                            <td>
                                                8 </td>
                                            <td>
                                                1 </td>
                                            <td>
                                                &#36;1,480 </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <a href="http://lava.themespirit.com/rooms/standard-family/">Standard Family</a> </td>
                                            <td>
                                                April 26, 2018 - April 27, 2018 </td>
                                            <td>
                                                1 </td>
                                            <td>
                                                1 </td>
                                            <td>
                                                &#36;250 </td>
                                        </tr>

                                        <tr>
                                            <td colspan="4">Sub Total</td>
                                            <td>
                                                &#36;1,730 </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">Tax</td>
                                            <td>
                                                &#36;173 </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">Grand Total</td>
                                            <td>
                                                &#36;1,903 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>

            </div>