<div id="content">
                <div class="header-placeholder"></div>
                <div class="container-full">
                    <div class="full-width">
                        <div id="tribe-events-pg-template" class="main">
                            <div id="tribe-events" class="tribe-no-js" data-live_ajax="1" data-datepicker_format="0" data-category="" data-featured="">
                                <div class="tribe-events-before-html"></div><span class="tribe-events-ajax-loading"><img class="tribe-events-spinner-medium" src="http://lava.themespirit.com/wp-content/plugins/the-events-calendar/src/resources/images/tribe-loading.gif" alt="Loading Events" /></span>
                                <div id="tribe-events-content-wrapper" class="tribe-clearfix">
                                    <input type="hidden" id="tribe-events-list-hash" value="">
                                    <div id="tribe-events-bar">
                                        <form id="tribe-bar-form" class="tribe-clearfix" name="tribe-bar-form" method="post" action="http://lava.themespirit.com/events/list?post_type=tribe_events&#038;eventDisplay=list">
                                            <div id="tribe-bar-collapse-toggle"> Find Events<span class="tribe-bar-toggle-arrow"></span></div>
                                            <div id="tribe-bar-views">
                                                <div class="tribe-bar-views-inner tribe-clearfix">
                                                    <h3 class="tribe-events-visuallyhidden">Event Views Navigation</h3>
                                                    <label>View As</label>
                                                    <select class="tribe-bar-views-select tribe-no-param" name="tribe-bar-view">
                                                        <option selected value="http://lava.themespirit.com/events/list/" data-view="list"> List</option>
                                                        <option tribe-inactive value="http://lava.themespirit.com/events/month/" data-view="month"> Month</option>
                                                        <option tribe-inactive value="http://lava.themespirit.com/events/week/" data-view="week"> Week</option>
                                                        <option tribe-inactive value="http://lava.themespirit.com/events/today/" data-view="day"> Day</option>
                                                        <option tribe-inactive value="http://lava.themespirit.com/events/map/" data-view="map"> Map</option>
                                                        <option tribe-inactive value="http://lava.themespirit.com/events/photo/" data-view="photo"> Photo</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="tribe-bar-filters">
                                                <div class="tribe-bar-filters-inner tribe-clearfix">
                                                    <div class="tribe-bar-date-filter">
                                                        <label class="label-tribe-bar-date" for="tribe-bar-date">Events From</label>
                                                        <input type="text" name="tribe-bar-date" style="position: relative;" id="tribe-bar-date" value="" placeholder="Date">
                                                        <input type="hidden" name="tribe-bar-date-day" id="tribe-bar-date-day" class="tribe-no-param" value="">
                                                    </div>
                                                    <div class="tribe-bar-search-filter">
                                                        <label class="label-tribe-bar-search" for="tribe-bar-search">Search</label>
                                                        <input type="text" name="tribe-bar-search" id="tribe-bar-search" value="" placeholder="Keyword">
                                                    </div>
                                                    <div class="tribe-bar-geoloc-filter">
                                                        <label class="label-tribe-bar-geoloc" for="tribe-bar-geoloc">Near</label>
                                                        <input type="hidden" name="tribe-bar-geoloc-lat" id="tribe-bar-geoloc-lat" value="" />
                                                        <input type="hidden" name="tribe-bar-geoloc-lng" id="tribe-bar-geoloc-lng" value="" />
                                                        <input type="text" name="tribe-bar-geoloc" id="tribe-bar-geoloc" value="" placeholder="Location">
                                                    </div>
                                                    <div class="tribe-bar-submit">
                                                        <input class="tribe-events-button tribe-no-param" type="submit" name="submit-bar" value="Find Events" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="tribe-events-content" class="tribe-events-list">
                                        <h2 class="tribe-events-page-title">Upcoming Events</h2>
                                        <div id="tribe-events-header" data-title="Upcoming Events &#8211; Lava" data-startofweek="1" data-view="list" data-baseurl="http://lava.themespirit.com/events/list/" data-mobilebreak="1020" data-default-mobile-view="month" data-default-view="month">
                                            <h3 class="screen-reader-text" tabindex="0">Events List Navigation</h3>
                                            <ul class="tribe-events-sub-nav">
                                                <li class="tribe-events-nav-previous tribe-events-nav-left tribe-events-past" aria-label="previous events link"> <a href="http://lava.themespirit.com/events/list/?tribe_event_display=past&#038;tribe_paged=1" rel="prev"><span>&laquo;</span> Previous Events</a></li>
                                            </ul>
                                        </div>
                                        <div class="tribe-events-loop"> <span class='tribe-events-list-separator-month'><span>April 2018</span></span>
                                            <div id="post-653" class="type-tribe_events post-653 tribe-clearfix tribe-events-category-tour tribe-events-venue-440 tribe-events-organizer-441 tribe-events-first" data-parent-post-id="442">
                                                <h2 class="tribe-events-list-event-title"> <a class="tribe-event-url" href="http://lava.themespirit.com/event/gentle-party/2018-04-18/" title="Gentle Party" rel="bookmark"> Gentle Party </a></h2>
                                                <div class="tribe-events-event-meta">
                                                    <div class="author  location">
                                                        <div class="tribe-event-schedule-details"> <span class="tribe-event-date-start">April 18 @ 8:00 am</span> - <span class="tribe-event-time">11:00 am</span>
                                                            <div class="recurringinfo">
                                                                <div class="event-is-recurring"><span class="tribe-events-divider">|</span>Recurring Event <a href="http://lava.themespirit.com/event/gentle-party/all/">(See all)</a>
                                                                    <div id="tribe-events-tooltip-653" class="tribe-events-tooltip recurring-info-tooltip">
                                                                        <div class="tribe-events-event-body">
                                                                            <p>An event every month that begins at 8:00am on day 18 of the month, repeating indefinitely</p>
                                                                        </div><span class="tribe-events-arrow"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tribe-events-venue-details"> <a href="http://lava.themespirit.com/venue/lava-hotel/" title="Lava Hotel">Lava Hotel</a>, <span class="tribe-address"><span class="tribe-street-address">1234 Apple Avenue</span>
                                                            <br> <span class="tribe-locality">New York</span><span class="tribe-delimiter">,</span><abbr class="tribe-region tribe-events-abbr" title="">NY</abbr><span class="tribe-postal-code">111111</span><span class="tribe-country-name">United States</span></span> <a class="tribe-events-gmap" href="https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=1234+Apple+Avenue+New+York+NY+111111+United+States" title="Click to view a Google Map" target="_blank">+ Google Map</a></div>
                                                    </div>
                                                </div>
                                                <div class="tribe-events-event-cost"> <span class="ticket-cost">$20</span></div>
                                                <div class="tribe-events-event-image">
                                                    <a href="http://lava.themespirit.com/event/gentle-party/2018-04-18/"><img width="300" height="230" src="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_1-300x230.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_1-300x230.jpg 300w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_1-768x588.jpg 768w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_1-1024x784.jpg 1024w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_1.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                                </div>
                                                <div class="tribe-events-list-event-description tribe-events-content description entry-summary">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> <a href="http://lava.themespirit.com/event/gentle-party/2018-04-18/" class="tribe-events-read-more" rel="bookmark">Find out more &raquo;</a></div>
                                            </div>
                                            <div id="post-678" class="type-tribe_events post-678 tribe-clearfix tribe-events-venue-440 tribe-events-organizer-441" data-parent-post-id="446">
                                                <h2 class="tribe-events-list-event-title"> <a class="tribe-event-url" href="http://lava.themespirit.com/event/italian-love/2018-04-20/" title="Italian Love" rel="bookmark"> Italian Love </a></h2>
                                                <div class="tribe-events-event-meta">
                                                    <div class="author  location">
                                                        <div class="tribe-event-schedule-details"> <span class="tribe-event-date-start">April 20 @ 8:00 am</span> - <span class="tribe-event-time">11:00 am</span>
                                                            <div class="recurringinfo">
                                                                <div class="event-is-recurring"><span class="tribe-events-divider">|</span>Recurring Event <a href="http://lava.themespirit.com/event/italian-love/all/">(See all)</a>
                                                                    <div id="tribe-events-tooltip-678" class="tribe-events-tooltip recurring-info-tooltip">
                                                                        <div class="tribe-events-event-body">
                                                                            <p>An event every month that begins at 8:00am on day 20 of the month, repeating indefinitely</p>
                                                                        </div><span class="tribe-events-arrow"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tribe-events-venue-details"> <a href="http://lava.themespirit.com/venue/lava-hotel/" title="Lava Hotel">Lava Hotel</a>, <span class="tribe-address"><span class="tribe-street-address">1234 Apple Avenue</span>
                                                            <br> <span class="tribe-locality">New York</span><span class="tribe-delimiter">,</span><abbr class="tribe-region tribe-events-abbr" title="">NY</abbr><span class="tribe-postal-code">111111</span><span class="tribe-country-name">United States</span></span> <a class="tribe-events-gmap" href="https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=1234+Apple+Avenue+New+York+NY+111111+United+States" title="Click to view a Google Map" target="_blank">+ Google Map</a></div>
                                                    </div>
                                                </div>
                                                <div class="tribe-events-event-cost"> <span class="ticket-cost">$80</span></div>
                                                <div class="tribe-events-event-image">
                                                    <a href="http://lava.themespirit.com/event/italian-love/2018-04-20/"><img width="300" height="200" src="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_5-300x200.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_5-300x200.jpg 300w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_5-768x512.jpg 768w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_5-1024x683.jpg 1024w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_5-540x360.jpg 540w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_5-272x182.jpg 272w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                                </div>
                                                <div class="tribe-events-list-event-description tribe-events-content description entry-summary">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> <a href="http://lava.themespirit.com/event/italian-love/2018-04-20/" class="tribe-events-read-more" rel="bookmark">Find out more &raquo;</a></div>
                                            </div>
                                            <div id="post-632" class="type-tribe_events post-632 tribe-clearfix tribe-events-category-music tribe-events-category-tour tribe-events-venue-440 tribe-events-organizer-441" data-parent-post-id="444">
                                                <h2 class="tribe-events-list-event-title"> <a class="tribe-event-url" href="http://lava.themespirit.com/event/sky-at-night/2018-04-20/" title="Sky At Night" rel="bookmark"> Sky At Night </a></h2>
                                                <div class="tribe-events-event-meta">
                                                    <div class="author  location">
                                                        <div class="tribe-event-schedule-details"> <span class="tribe-event-date-start">April 20 @ 8:00 am</span> - <span class="tribe-event-time">11:00 am</span>
                                                            <div class="recurringinfo">
                                                                <div class="event-is-recurring"><span class="tribe-events-divider">|</span>Recurring Event <a href="http://lava.themespirit.com/event/sky-at-night/all/">(See all)</a>
                                                                    <div id="tribe-events-tooltip-632" class="tribe-events-tooltip recurring-info-tooltip">
                                                                        <div class="tribe-events-event-body">
                                                                            <p>An event every month that begins at 8:00am on day 20 of the month, repeating indefinitely</p>
                                                                        </div><span class="tribe-events-arrow"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tribe-events-venue-details"> <a href="http://lava.themespirit.com/venue/lava-hotel/" title="Lava Hotel">Lava Hotel</a>, <span class="tribe-address"><span class="tribe-street-address">1234 Apple Avenue</span>
                                                            <br> <span class="tribe-locality">New York</span><span class="tribe-delimiter">,</span><abbr class="tribe-region tribe-events-abbr" title="">NY</abbr><span class="tribe-postal-code">111111</span><span class="tribe-country-name">United States</span></span> <a class="tribe-events-gmap" href="https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=1234+Apple+Avenue+New+York+NY+111111+United+States" title="Click to view a Google Map" target="_blank">+ Google Map</a></div>
                                                    </div>
                                                </div>
                                                <div class="tribe-events-event-image">
                                                    <a href="http://lava.themespirit.com/event/sky-at-night/2018-04-20/"><img width="300" height="200" src="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_3-300x200.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_3-300x200.jpg 300w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_3-768x511.jpg 768w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_3-1024x682.jpg 1024w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_3-540x360.jpg 540w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_3-272x182.jpg 272w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_3.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                                </div>
                                                <div class="tribe-events-list-event-description tribe-events-content description entry-summary">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> <a href="http://lava.themespirit.com/event/sky-at-night/2018-04-20/" class="tribe-events-read-more" rel="bookmark">Find out more &raquo;</a></div>
                                            </div>
                                            <div id="post-521" class="type-tribe_events post-521 tribe-clearfix tribe-events-category-health tribe-events-venue-440 tribe-events-organizer-441" data-parent-post-id="448">
                                                <h2 class="tribe-events-list-event-title"> <a class="tribe-event-url" href="http://lava.themespirit.com/event/yoga-day/2018-04-21/" title="Yoga Day" rel="bookmark"> Yoga Day </a></h2>
                                                <div class="tribe-events-event-meta">
                                                    <div class="author  location">
                                                        <div class="tribe-event-schedule-details"> <span class="tribe-event-date-start">April 21 @ 12:00 am</span> - <span class="tribe-event-time">11:59 pm</span>
                                                            <div class="recurringinfo">
                                                                <div class="event-is-recurring"><span class="tribe-events-divider">|</span>Recurring Event <a href="http://lava.themespirit.com/event/yoga-day/all/">(See all)</a>
                                                                    <div id="tribe-events-tooltip-521" class="tribe-events-tooltip recurring-info-tooltip">
                                                                        <div class="tribe-events-event-body">
                                                                            <p>An event every month that begins at 12:00am on day 21 of the month, repeating indefinitely</p>
                                                                        </div><span class="tribe-events-arrow"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tribe-events-venue-details"> <a href="http://lava.themespirit.com/venue/lava-hotel/" title="Lava Hotel">Lava Hotel</a>, <span class="tribe-address"><span class="tribe-street-address">1234 Apple Avenue</span>
                                                            <br> <span class="tribe-locality">New York</span><span class="tribe-delimiter">,</span><abbr class="tribe-region tribe-events-abbr" title="">NY</abbr><span class="tribe-postal-code">111111</span><span class="tribe-country-name">United States</span></span> <a class="tribe-events-gmap" href="https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=1234+Apple+Avenue+New+York+NY+111111+United+States" title="Click to view a Google Map" target="_blank">+ Google Map</a></div>
                                                    </div>
                                                </div>
                                                <div class="tribe-events-event-image">
                                                    <a href="http://lava.themespirit.com/event/yoga-day/2018-04-21/"><img width="300" height="225" src="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_6-300x225.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_6-300x225.jpg 300w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_6-768x576.jpg 768w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_6-1024x768.jpg 1024w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                                </div>
                                                <div class="tribe-events-list-event-description tribe-events-content description entry-summary">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> <a href="http://lava.themespirit.com/event/yoga-day/2018-04-21/" class="tribe-events-read-more" rel="bookmark">Find out more &raquo;</a></div>
                                            </div>
                                            <div id="post-642" class="type-tribe_events post-642 tribe-clearfix tribe-events-venue-440 tribe-events-organizer-441" data-parent-post-id="445">
                                                <h2 class="tribe-events-list-event-title"> <a class="tribe-event-url" href="http://lava.themespirit.com/event/cocktail-jam/2018-04-23/" title="Cocktail Jam" rel="bookmark"> Cocktail Jam </a></h2>
                                                <div class="tribe-events-event-meta">
                                                    <div class="author  location">
                                                        <div class="tribe-event-schedule-details"> <span class="tribe-event-date-start">April 23 @ 8:00 am</span> - <span class="tribe-event-time">11:00 am</span>
                                                            <div class="recurringinfo">
                                                                <div class="event-is-recurring"><span class="tribe-events-divider">|</span>Recurring Event <a href="http://lava.themespirit.com/event/cocktail-jam/all/">(See all)</a>
                                                                    <div id="tribe-events-tooltip-642" class="tribe-events-tooltip recurring-info-tooltip">
                                                                        <div class="tribe-events-event-body">
                                                                            <p>An event every month that begins at 8:00am on day 23 of the month, repeating indefinitely</p>
                                                                        </div><span class="tribe-events-arrow"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tribe-events-venue-details"> <a href="http://lava.themespirit.com/venue/lava-hotel/" title="Lava Hotel">Lava Hotel</a>, <span class="tribe-address"><span class="tribe-street-address">1234 Apple Avenue</span>
                                                            <br> <span class="tribe-locality">New York</span><span class="tribe-delimiter">,</span><abbr class="tribe-region tribe-events-abbr" title="">NY</abbr><span class="tribe-postal-code">111111</span><span class="tribe-country-name">United States</span></span> <a class="tribe-events-gmap" href="https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=1234+Apple+Avenue+New+York+NY+111111+United+States" title="Click to view a Google Map" target="_blank">+ Google Map</a></div>
                                                    </div>
                                                </div>
                                                <div class="tribe-events-event-cost"> <span class="ticket-cost">$100</span></div>
                                                <div class="tribe-events-event-image">
                                                    <a href="http://lava.themespirit.com/event/cocktail-jam/2018-04-23/"><img width="300" height="200" src="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_4-300x200.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_4-300x200.jpg 300w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_4-768x512.jpg 768w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_4-1024x683.jpg 1024w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_4-540x360.jpg 540w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_4-272x182.jpg 272w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_4.jpg 1200w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                                </div>
                                                <div class="tribe-events-list-event-description tribe-events-content description entry-summary">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> <a href="http://lava.themespirit.com/event/cocktail-jam/2018-04-23/" class="tribe-events-read-more" rel="bookmark">Find out more &raquo;</a></div>
                                            </div> <span class='tribe-events-list-separator-month'><span>May 2018</span></span>
                                            <div id="post-613" class="type-tribe_events post-613 tribe-clearfix tribe-events-category-music tribe-events-category-tour tribe-events-venue-440 tribe-events-organizer-441" data-parent-post-id="443">
                                                <h2 class="tribe-events-list-event-title"> <a class="tribe-event-url" href="http://lava.themespirit.com/event/kids-festival/2018-05-01/" title="Kids Festival" rel="bookmark"> Kids Festival </a></h2>
                                                <div class="tribe-events-event-meta">
                                                    <div class="author  location">
                                                        <div class="tribe-event-schedule-details"> <span class="tribe-event-date-start">May 1 @ 8:00 am</span> - <span class="tribe-event-time">11:00 am</span>
                                                            <div class="recurringinfo">
                                                                <div class="event-is-recurring"><span class="tribe-events-divider">|</span>Recurring Event <a href="http://lava.themespirit.com/event/kids-festival/all/">(See all)</a>
                                                                    <div id="tribe-events-tooltip-613" class="tribe-events-tooltip recurring-info-tooltip">
                                                                        <div class="tribe-events-event-body">
                                                                            <p>An event every month that begins at 8:00am on day 1 of the month, repeating indefinitely</p>
                                                                        </div><span class="tribe-events-arrow"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tribe-events-venue-details"> <a href="http://lava.themespirit.com/venue/lava-hotel/" title="Lava Hotel">Lava Hotel</a>, <span class="tribe-address"><span class="tribe-street-address">1234 Apple Avenue</span>
                                                            <br> <span class="tribe-locality">New York</span><span class="tribe-delimiter">,</span><abbr class="tribe-region tribe-events-abbr" title="">NY</abbr><span class="tribe-postal-code">111111</span><span class="tribe-country-name">United States</span></span> <a class="tribe-events-gmap" href="https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=1234+Apple+Avenue+New+York+NY+111111+United+States" title="Click to view a Google Map" target="_blank">+ Google Map</a></div>
                                                    </div>
                                                </div>
                                                <div class="tribe-events-event-image">
                                                    <a href="http://lava.themespirit.com/event/kids-festival/2018-05-01/"><img width="300" height="200" src="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_2-300x200.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_2-300x200.jpg 300w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_2-768x512.jpg 768w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_2-1024x683.jpg 1024w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_2-540x360.jpg 540w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_2-272x182.jpg 272w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                                </div>
                                                <div class="tribe-events-list-event-description tribe-events-content description entry-summary">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> <a href="http://lava.themespirit.com/event/kids-festival/2018-05-01/" class="tribe-events-read-more" rel="bookmark">Find out more &raquo;</a></div>
                                            </div>
                                            <div id="post-667" class="type-tribe_events post-667 tribe-clearfix tribe-events-category-tour tribe-events-venue-440 tribe-events-organizer-441" data-parent-post-id="449">
                                                <h2 class="tribe-events-list-event-title"> <a class="tribe-event-url" href="http://lava.themespirit.com/event/guided-tour/2018-05-03/" title="Guided Tour" rel="bookmark"> Guided Tour </a></h2>
                                                <div class="tribe-events-event-meta">
                                                    <div class="author  location">
                                                        <div class="tribe-event-schedule-details"> <span class="tribe-event-date-start">May 3 @ 8:00 am</span> - <span class="tribe-event-time">11:00 am</span>
                                                            <div class="recurringinfo">
                                                                <div class="event-is-recurring"><span class="tribe-events-divider">|</span>Recurring Event <a href="http://lava.themespirit.com/event/guided-tour/all/">(See all)</a>
                                                                    <div id="tribe-events-tooltip-667" class="tribe-events-tooltip recurring-info-tooltip">
                                                                        <div class="tribe-events-event-body">
                                                                            <p>An event every month that begins at 8:00am on day 3 of the month, repeating indefinitely</p>
                                                                        </div><span class="tribe-events-arrow"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tribe-events-venue-details"> <a href="http://lava.themespirit.com/venue/lava-hotel/" title="Lava Hotel">Lava Hotel</a>, <span class="tribe-address"><span class="tribe-street-address">1234 Apple Avenue</span>
                                                            <br> <span class="tribe-locality">New York</span><span class="tribe-delimiter">,</span><abbr class="tribe-region tribe-events-abbr" title="">NY</abbr><span class="tribe-postal-code">111111</span><span class="tribe-country-name">United States</span></span> <a class="tribe-events-gmap" href="https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=1234+Apple+Avenue+New+York+NY+111111+United+States" title="Click to view a Google Map" target="_blank">+ Google Map</a></div>
                                                    </div>
                                                </div>
                                                <div class="tribe-events-event-image">
                                                    <a href="http://lava.themespirit.com/event/guided-tour/2018-05-03/"><img width="300" height="200" src="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_8-300x200.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_8-300x200.jpg 300w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_8-768x512.jpg 768w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_8-1024x683.jpg 1024w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_8-540x360.jpg 540w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_8-272x182.jpg 272w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                                </div>
                                                <div class="tribe-events-list-event-description tribe-events-content description entry-summary">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> <a href="http://lava.themespirit.com/event/guided-tour/2018-05-03/" class="tribe-events-read-more" rel="bookmark">Find out more &raquo;</a></div>
                                            </div>
                                            <div id="post-622" class="type-tribe_events post-622 tribe-clearfix tribe-events-category-music tribe-events-venue-440 tribe-events-organizer-441" data-parent-post-id="447">
                                                <h2 class="tribe-events-list-event-title"> <a class="tribe-event-url" href="http://lava.themespirit.com/event/music-concert/2018-05-10/" title="Music Concert" rel="bookmark"> Music Concert </a></h2>
                                                <div class="tribe-events-event-meta">
                                                    <div class="author  location">
                                                        <div class="tribe-event-schedule-details"> <span class="tribe-event-date-start">May 10 @ 7:00 pm</span> - <span class="tribe-event-time">11:00 pm</span>
                                                            <div class="recurringinfo">
                                                                <div class="event-is-recurring"><span class="tribe-events-divider">|</span>Recurring Event <a href="http://lava.themespirit.com/event/music-concert/all/">(See all)</a>
                                                                    <div id="tribe-events-tooltip-622" class="tribe-events-tooltip recurring-info-tooltip">
                                                                        <div class="tribe-events-event-body">
                                                                            <p>An event every month that begins at 7:00pm on day 10 of the month, repeating indefinitely</p>
                                                                        </div><span class="tribe-events-arrow"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tribe-events-venue-details"> <a href="http://lava.themespirit.com/venue/lava-hotel/" title="Lava Hotel">Lava Hotel</a>, <span class="tribe-address"><span class="tribe-street-address">1234 Apple Avenue</span>
                                                            <br> <span class="tribe-locality">New York</span><span class="tribe-delimiter">,</span><abbr class="tribe-region tribe-events-abbr" title="">NY</abbr><span class="tribe-postal-code">111111</span><span class="tribe-country-name">United States</span></span> <a class="tribe-events-gmap" href="https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=1234+Apple+Avenue+New+York+NY+111111+United+States" title="Click to view a Google Map" target="_blank">+ Google Map</a></div>
                                                    </div>
                                                </div>
                                                <div class="tribe-events-event-cost"> <span class="ticket-cost">$50</span></div>
                                                <div class="tribe-events-event-image">
                                                    <a href="http://lava.themespirit.com/event/music-concert/2018-05-10/"><img width="300" height="200" src="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_7-300x200.jpg" class="attachment-medium size-medium wp-post-image" alt="" srcset="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_7-300x200.jpg 300w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_7-768x512.jpg 768w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_7-1024x683.jpg 1024w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_7-540x360.jpg 540w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_7-272x182.jpg 272w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                                </div>
                                                <div class="tribe-events-list-event-description tribe-events-content description entry-summary">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> <a href="http://lava.themespirit.com/event/music-concert/2018-05-10/" class="tribe-events-read-more" rel="bookmark">Find out more &raquo;</a></div>
                                            </div> <span class='tribe-events-list-separator-month'><span>February 2020</span></span>
                                            <div id="post-1073" class="type-tribe_events post-1073 tribe-clearfix tribe-events-category-music tribe-events-category-tour tribe-events-venue-440 tribe-events-organizer-441 tribe-events-last tribe-event-featured">
                                                <div class="tribe-events-event-image">
                                                    <a href="http://lava.themespirit.com/event/kids-festival-2020-02-01/2020-02-01/"><img width="1024" height="683" src="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_2-1024x683.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="http://lava.themespirit.com/wp-content/uploads/2017/05/ev_2-1024x683.jpg 1024w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_2-300x200.jpg 300w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_2-768x512.jpg 768w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_2-540x360.jpg 540w, http://lava.themespirit.com/wp-content/uploads/2017/05/ev_2-272x182.jpg 272w" sizes="(max-width: 1024px) 100vw, 1024px" /></a>
                                                </div>
                                                <h2 class="tribe-events-list-event-title"> <a class="tribe-event-url" href="http://lava.themespirit.com/event/kids-festival-2020-02-01/2020-02-01/" title="Kids Festival" rel="bookmark"> Kids Festival </a></h2>
                                                <div class="tribe-events-event-meta">
                                                    <div class="author  location">
                                                        <div class="tribe-event-schedule-details"> <span class="tribe-event-date-start">February 1, 2020 @ 8:00 am</span> - <span class="tribe-event-time">11:00 am</span>
                                                            <div class="recurringinfo">
                                                                <div class="event-is-recurring"><span class="tribe-events-divider">|</span>Recurring Event <a href="http://lava.themespirit.com/event/kids-festival-2020-02-01/all/">(See all)</a>
                                                                    <div id="tribe-events-tooltip-1073" class="tribe-events-tooltip recurring-info-tooltip">
                                                                        <div class="tribe-events-event-body">
                                                                            <p>An event every month that begins at 8:00am on day 1 of the month, repeating indefinitely</p>
                                                                        </div><span class="tribe-events-arrow"></span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tribe-events-venue-details"> <a href="http://lava.themespirit.com/venue/lava-hotel/" title="Lava Hotel">Lava Hotel</a>, <span class="tribe-address"><span class="tribe-street-address">1234 Apple Avenue</span>
                                                            <br> <span class="tribe-locality">New York</span><span class="tribe-delimiter">,</span><abbr class="tribe-region tribe-events-abbr" title="">NY</abbr><span class="tribe-postal-code">111111</span><span class="tribe-country-name">United States</span></span> <a class="tribe-events-gmap" href="https://maps.google.com/maps?f=q&#038;source=s_q&#038;hl=en&#038;geocode=&#038;q=1234+Apple+Avenue+New+York+NY+111111+United+States" title="Click to view a Google Map" target="_blank">+ Google Map</a></div>
                                                    </div>
                                                </div>
                                                <div class="tribe-events-list-event-description tribe-events-content">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> <a href="http://lava.themespirit.com/event/kids-festival-2020-02-01/2020-02-01/" class="tribe-events-read-more" rel="bookmark">Find out more &raquo;</a></div>
                                            </div>
                                        </div>
                                        <div id="tribe-events-footer">
                                            <h3 class="screen-reader-text" tabindex="0">Events List Navigation</h3>
                                            <ul class="tribe-events-sub-nav">
                                                <li class="tribe-events-nav-previous tribe-events-nav-left tribe-events-past" aria-label="previous events link"> <a href="http://lava.themespirit.com/events/list/?tribe_event_display=past&#038;tribe_paged=1" rel="prev"><span>&laquo;</span> Previous Events</a></li>
                                            </ul>
                                        </div> <a class="tribe-events-ical tribe-events-button" title="Use this to share calendar data with Google Calendar, Apple iCal and other compatible apps" href="http://lava.themespirit.com/events/?ical=1">+ Export Events</a></div>
                                    <div class="tribe-clear"></div>
                                </div>
                                <div class="tribe-events-after-html"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>