



<!-- Log in Successful -->
<% if notice %>

<% end %>




<!-- Wrong Info on Log In -->
<% if alert %>
  <script>
    window.onload = function () {
      var wrongInfo = document.getElementById('wrong-info');
    wrongInfo.insertAdjacentHTML('beforeend', '<p style="color:rgb(198,0,0)">Wrong Email or Password</p>');
}
  </script>
<% end %>
