
    <footer id="footer">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col x12 s6 m3 footer-1">
                        <div id="text-108" class="widget widget_text">
                            <div class="textwidget">
                                <div class="center-align">

                                  <!-- CHANGE THIS IMAGE -->
                                <%= image_tag 'logofooter.png', width: '102', height: '68'  %>
                                </div>
                            </div>
                        </div>
                        <div id="lava-social-buttons-109" class="widget widget_lava-social-buttons">
                            <div class="so-widget-lava-social-buttons so-widget-lava-social-buttons-default-d75171398898">
                                <div class="lava-social-buttons style-a center-align">
                                    <div class="social-list cf"> <a href="#" target="_blank" title="Facebook"><i class="lava-icon-facebook"></i></a> <a href="#" target="_blank" title="Twitter"><i class="lava-icon-twitter"></i></a> <a href="#" target="_blank" title="Instagram"><i class="lava-icon-instagram"></i></a> <a href="#" target="_blank" title="Pinterest"><i class="lava-icon-pinterest"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col x12 s6 m3 footer-2">
                        <div id="text-110" class="widget widget_text">
                            <h3 class="section-heading">Get In Touch</h3>
                            <div class="textwidget">
                                <div class="textwidget">
                                    <p class="address"><i class="material-icons">call</i>+855 123 456 78</p>
                                    <p class="address"><i class="material-icons">email</i>info@lavahotel.com</p>
                                    <p class="address"><i class="material-icons">location_on</i>2 W. Studebaker St. Miami Beach, FL 33139</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col x12 s6 m3 footer-3">
                        <div id="nav_menu-111" class="widget widget_nav_menu">
                            <h3 class="section-heading">About Us</h3>
                            <div class="menu-lava-demo-footer-container">
                                <ul id="menu-lava-demo-footer" class="menu">
                                    <li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="reservation/index.html">Reservation</a></li>
                                    <li id="menu-item-81" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81"><a href="rooms.html">Rooms</a></li>
                                    <li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a href="about-us/index.html">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col x12 s6 m3 footer-4">
                        <div id="recent-posts-112" class="widget widget_recent_entries">
                            <h3 class="section-heading">Latest News</h3>
                            <ul>
                                <li> <a href="2018/01/23/standard-post-format/index.html">Standard Post Format</a></li>
                                <li> <a href="2018/01/23/gallery-post-format/index.html">Gallery Post Format</a></li>
                                <li> <a href="2018/01/23/video-post-format/index.html">Video Post Format</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container-fluid">
                <div id="copyright"> © 2018 LAVA HOTEL. ALL RIGHTS RESERVED.</div>
            </div>
        </div>
    </footer> <a id="scroll-top" href="javascript:void(0)"><i class="material-icons">keyboard_arrow_up</i></a></div>
</div>
